{% extends 'base.html.twig' %}

{% block title %} Décoration {% endblock %}

{% block body %}

    {% for article in articles %}

        <h1 class="title"><a href="{{ path('home') }}"><--</a> DECORATION</h1>

        <div class="card articleCard">
            <h2 class=" card-title"> {{ article.title }} | {{ article.createdAt | date }} </h2>
            <img class="articlePoster" src="{{ article.poster }}" alt="article poster">
            <p class="articleDesc">{{ article.description }}</p>
            <a href="{{ path('articles_details', {'id':article.id}) }}">Lire l'article</a>
        </div>
    {% endfor %}

{% endblock %}